<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.r2d2.doctorapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorApp">

        <!-- Sign up -->
        <activity
            android:name=".DoctorSignupActivity"
            android:label="@string/activity_label_doctor_sign_up"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".DoctorSignup2Activity"
            android:label="@string/activity_label_doctor_sign_up_2"
            android:launchMode="singleTop"
            android:parentActivityName=".DoctorSignupActivity" />
        <activity
            android:name=".PatientSignupActivity"
            android:label="@string/activity_label_patient_sign_up"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".PatientSignup2Activity"
            android:label="@string/activity_label_patient_sign_up_2"
            android:launchMode="singleTop"
            android:parentActivityName=".PatientSignupActivity" />

        <!-- Doctors -->
        <activity
            android:name=".DoctorHomePageActivity"
            android:label="@string/activity_label_doctor_home"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginActivity" />

        <!-- Doctor search -->
        <activity
            android:name=".FilterActivity"
            android:label="@string/activity_label_filter"
            android:launchMode="singleTop"
            android:parentActivityName=".DoctorHistoryActivity" />
        <activity
            android:name=".ExActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".FilterActivity" />

        <!-- Log in -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/activity_label_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Appointment booking -->
        <activity
            android:name=".AvailabilityActivity"
            android:label="@string/activity_label_availability"
            android:launchMode="singleTop" />
        
        <!-- Patients -->
        <activity
            android:name=".PatientHomeActivity"
            android:label="@string/activity_label_patient_home"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".PatientProfileActivity"
            android:label="@string/activity_label_patient_profile"
            android:launchMode="singleTop"
            android:parentActivityName=".PatientHomeActivity" />
        <activity
            android:name=".DoctorHistoryActivity"
            android:label="@string/activity_label_doctor_history"
            android:launchMode="singleTop"
            android:parentActivityName=".PatientProfileActivity" />
        <activity android:name=".DoctorProfileActivity"
            android:label="@string/activity_label_doctor_profile"
            android:launchMode="singleTop"
            android:parentActivityName=".DoctorHomePageActivity" />
    </application>

</manifest>