<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.r2d2.doctorapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorApp">
        <activity android:name=".HomepageActivity"></activity>
        <activity android:name=".DoctorSignupActivity" />
        <activity android:name=".DoctorSignup2Activity" />
        <activity android:name=".PatientSignupActivity" />
        <activity android:name=".PatientSignup2Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ExActivity" />
        <activity android:name=".FilterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>